In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import duckdb
# Assessment Question 1 - Of the industries where salaries and wages data did NOT exist in 2016 and only appeared later,
# which industry had the highest average value for actual filled jobs across time and what was that value.

result = duckdb.execute("""
with post_2016 as
(
    select
        distinct Series_title_2 as industry
    from 'financial_data.csv'
    where
        lower(Series_title_1) = 'salaries and wages'
        and cast(substr(cast(Period as string),1,4) as integer) >2016
        and Series_title_2 not in
                            (
                            select
                              Series_title_2
                            from 'financial_data.csv'
                            where
                                lower(Series_title_1) = 'salaries and wages'
                                and cast(substr(cast(Period as string),1,4) as integer) = 2016
                            )
)
,industry_filled_jobs as
(
  select
      Series_title_2 AS industry,
      AVG(Data_value) AS avg_filled_jobs
    from 'employment_data.csv'
    where
        "Group" = 'Industry by employment variable'
        and Series_title_1 = 'Filled jobs'
        and Series_title_3 = 'Actual'
        and Series_title_2 IN (select industry from post_2016)
    group by Series_title_2
)

select  * from industry_filled_jobs order  by avg_filled_jobs desc limit 1""")
df = result.fetchdf()
print(df)

       industry  avg_filled_jobs
0  Retail Trade    194053.711538

In [ ]:
# Assessment Question 2 - Query to show which year/month combination and industry had the second highest seasonally adjusted operating income sales across all the
#business industries in New Zealand that are categorised as NZSIOC level 2.

result = duckdb.execute("""
with ranked_sales as
(
	select
	    Period
	    ,Series_title_2 as industry
	    ,Data_value as operating_income_sales
	    ,row_number() over (order by Data_value desc) as sales_rank
  from
      'financial_data.csv'
  where
    Series_title_1	= 'Sales (operating income)'
    and lower(Series_title_4) = 'seasonally adjusted'
    and "Group" = 'Industry by financial variable (NZSIOC Level 2)'
)

select
    Period
    ,industry
    ,operating_income_sales
from ranked_sales
where sales_rank = 2""")
df = result.fetchdf()
print(df)

    Period         industry  operating_income_sales
0  2023.03  Wholesale Trade               38810.022

In [ ]:
#Assessment Question- 3  Query to calculate the quarterly cumulative number of filled jobs over time for the territorial authority with the highest average value of filled jobs across time.
#Note: As per the assessment instruction, windows functions are not used in the below query.

result = duckdb.execute("""
with avg_filled_jobs as
(
  select
      Series_title_2 AS territorial_authority
      ,AVG(Data_value) AS avg_filled_jobs
  from 'employment_data.csv'
  where
      "Group" = 'Territorial authority by employment variable'
      and Series_title_1 = 'Filled jobs'
      and Series_title_3 = 'Actual'
  group by Series_title_2
)

,top_ta as
(
  select
      territorial_authority
  from
      avg_filled_jobs
  order by avg_filled_jobs desc
  limit 1
)

,filled_jobs_filtered as (
    select *
    from 'employment_data.csv'
    where
        "Group" = 'Territorial authority by employment variable'
        and Series_title_1 = 'Filled jobs'
        and Series_title_3 = 'Actual'
        and Series_title_2 = (select territorial_authority from top_ta)
)

select
    a.Period,
    a.Series_title_2 AS territorial_authority,
    a.Data_value AS filled_jobs,
    sum(b.Data_value) AS cumulative_filled_jobs
from filled_jobs_filtered a
join filled_jobs_filtered b
  on b.Period <= a.Period
group by a.Period, a.Series_title_2, a.Data_value
order by a.Period""")
df = result.fetchdf()
print(df)

     Period territorial_authority  filled_jobs  cumulative_filled_jobs
0   2011.06              Auckland     558627.0                558627.0
1   2011.09              Auckland     565439.0               1124066.0
2   2011.12              Auckland     573729.0               1697795.0
3   2012.03              Auckland     560373.0               2258168.0
4   2012.06              Auckland     572938.0               2831106.0
5   2012.09              Auckland     570677.0               3401783.0
6   2012.12              Auckland     579724.0               3981507.0
7   2013.03              Auckland     574807.0               4556314.0
8   2013.06              Auckland     588911.0               5145225.0
9   2013.09              Auckland     586356.0               5731581.0
10  2013.12              Auckland     598580.0               6330161.0
11  2014.03              Auckland     591999.0               6922160.0
12  2014.06              Auckland     604461.0               7526621.0
13  2014.09              Auckland     605785.0               8132406.0
14  2014.12              Auckland     620086.0               8752492.0
15  2015.03              Auckland     614897.0               9367389.0
16  2015.06              Auckland     630010.0               9997399.0
17  2015.09              Auckland     628705.0              10626104.0
18  2015.12              Auckland     644176.0              11270280.0
19  2016.03              Auckland     638934.0              11909214.0
20  2016.06              Auckland     654715.0              12563929.0
21  2016.09              Auckland     655381.0              13219310.0
22  2016.12              Auckland     671616.0              13890926.0
23  2017.03              Auckland     666244.0              14557170.0
24  2017.06              Auckland     683931.0              15241101.0
25  2017.09              Auckland     681705.0              15922806.0
26  2017.12              Auckland     695658.0              16618464.0
27  2018.03              Auckland     697755.0              17316219.0
28  2018.06              Auckland     697409.0              18013628.0
29  2018.09              Auckland     691784.0              18705412.0
30  2018.12              Auckland     708555.0              19413967.0
31  2019.03              Auckland     703201.0              20117168.0
32  2019.06              Auckland     711974.0              20829142.0
33  2019.09              Auckland     710803.0              21539945.0
34  2019.12              Auckland     728848.0              22268793.0
35  2020.03              Auckland     722031.0              22990824.0
36  2020.06              Auckland     721253.0              23712077.0
37  2020.09              Auckland     714506.0              24426583.0
38  2020.12              Auckland     721492.0              25148075.0
39  2021.03              Auckland     715771.0              25863846.0
40  2021.06              Auckland     729746.0              26593592.0
41  2021.09              Auckland     734238.0              27327830.0
42  2021.12              Auckland     748627.0              28076457.0
43  2022.03              Auckland     741891.0              28818348.0
44  2022.06              Auckland     747141.0              29565489.0
45  2022.09              Auckland     749147.0              30314636.0
46  2022.12              Auckland     765991.0              31080627.0
47  2023.03              Auckland     766435.0              31847062.0
48  2023.06              Auckland     782096.0              32629158.0
49  2023.09              Auckland     782639.0              33411797.0
50  2023.12              Auckland     795680.0              34207477.0
51  2024.03              Auckland     787534.0              34995011.0

#Assessment Question - 4
#Assume these datasets are used in part of a pipeline where the file that arrives may contain unwanted duplicates, incorrect datatypes, missing dates or other data quality aberrations. What things could be done programmatically to make sure the input data is of adequate quality and improve the pipeline?


1. For removing duplicates, select distinct * or column name can be used
    e.g. df.drop_duplicates(inplace=True)

2. For incorrect data types, columns can be casted to appropriate data types using cast function.
   e.g. cast(Data_Value as double)
   In my code I have used cast function to convert period column to string.
    e.g. CAST(substr(cast(Period as string),1,4) AS INTEGER) = 2016
3. Identify null  or blank fields and handle missing values.
    e.g. df.isnull().sum()

4.  Data formats - Ensure date fields (Period) follows proper format (YYYY.MM in this case) in all rows.

5. handle outliers or data abnornamlities.
    Apply conditions like Data_value >=0 or define value ranges.
    e.g. df = df[df['year'] <= 2024]
    e.g.Data_value >=0

In [21]:
#Assessment Question-5 Create summary statistics and perform a statistical analysis or create a model using the provided datasets.

import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

#loading files
emp_df = pd.read_csv('employment_data.csv')
fin_df = pd.read_csv('financial_data.csv')

# printing data
print("Employment data:")
display(emp_df.head())

print("Financial data:")
display(fin_df.head())

# Understanding the data by checking shapes and missing values
print("\nEmployment shape:", emp_df.shape)
print("\nFinancial shape:", fin_df.shape)

print("\nMissing values (employment):")
display(emp_df.isnull().sum())

print("\nMissing values (financial):")
display(fin_df.isnull().sum())


# Correcting the filter condition for employment data
#emp_filtered = emp_df[emp_df['Series_title_1'] == 'Filled jobs'] #Changed to match Series_title_1 in emp_df
# Correcting the filter condition for financial data and selecting relevant column
#fin_filtered = fin_df[fin_df['Series_title_1'] == 'Salaries and wages paid'] #Changed to match Series_title_1 in fin_df


#merging dataframes on Period and Group
#merged_df = pd.merge(emp_filtered, fin_filtered, on=['Period', 'Group'], suffixes=('_jobs', '_wages'))


#Renaming the columns to 'value_jobs' and 'value_wages'
#merged_df = merged_df.rename(columns={'Data_value_jobs': 'value_jobs', 'Data_value_wages': 'value_wages'}) #Renamed Data_value columns as value_jobs and value_wages


#X = merged_df[['value_jobs']]  # independent variable (filled jobs)
#y = merged_df['value_wages']   # dependent variable (wages)


#X = X.astype(float)
#y = y.astype(float)


#model = LinearRegression()
#model.fit(X, y)

#plt.scatter(X, y, alpha=0.5)





#Linear Regression model can be used for predicting future values. For e.g. predicting employment based on financial data

Employment data:

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

Financial data:

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN

Employment shape: (22963, 14)

Financial shape: (7635, 14)

Missing values (employment):

Series_reference        0
Period                  0
Data_value           2839
Suppressed          20124
STATUS                  0
UNITS                   0
Magnitude               0
Subject                 0
Group                   0
Series_title_1          0
Series_title_2          0
Series_title_3          0
Series_title_4      22963
Series_title_5      22963
dtype: int64

Missing values (financial):

Series_reference       0
Period                 0
Data_value           698
Suppressed          7620
STATUS                 0
UNITS                  0
Magnitude              0
Subject                0
Group                  0
Series_title_1         0
Series_title_2         0
Series_title_3         0
Series_title_4         0
Series_title_5      7635
dtype: int64